*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1.3125rem;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-weight: bold;
}

.section-title {
    color: #136C72;
}

.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #072A2D;
    font-weight: bold;
    background-color: #38CFD9;
    padding: .75em 2em;
    border-radius: 100px;
    letter-spacing: 0.05em;
}

.btn:hover,
.btn:focus {
    opacity: .75;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col {
    width: 100%;
}

.hero {
    padding: 100px 0;
    background-color: #23424A;
    color: #fff;
}

.col+.col {
    margin-left: 30px;
}

.hero__text,
.primary-content {
    width: 62%;
}

.hero__body {
    margin-bottom: 3em;
}

.hero__img {
    width: 32%;
    align-self: flex-start;
}

.main {
    margin-top: 3em;
}

.sidebar {
    width: 32%;
    padding: 1em;
    text-align: center;
    color: #fff;
    background-color: #136C72;
}